.list .item .content{
  top: 50%;
  left: 100px;
  margin-left: 50px;
  transform: translateY(-50%);
  width: 400px;
  text-align: center;
  color: #fff;
  display: none;
}

.content .title{
  font-size: 80px;
  text-transform: uppercase;
  color: #6010eb;
  font-weight: bold;
  text-shadow: 3px 4px 4px rgba(121, 121, 121, 0.8);
  line-height: 1;
  margin-left: 30px;
  opacity: 100;
}

@keyframes animate {
    
  from{
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
  }

  to{
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}

.card_wrap{
  width: 220px;
  background: #fff;
  border-radius: 20px;
  border: 5px solid #fff;
  overflow: hidden;
  color: #616161;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.card_wrap:hover{
  transform: scale(1.1);
}
.card_header{
  height: 200px;
  width: 100%;
  background: red;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
}

.card_header_image{
  color: #fff;
  font-size: 72px;
  margin: 0 auto;
  padding-left: 30px;
}
.card_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}
.card_title{
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  
}
.card_text{
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
}
.card_btn{
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.card_header_one{
  background: linear-gradient(to bottom left, #f12711, #f5af19);
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
}
.card_header_two{
  background: linear-gradient(to bottom left, #7F00FF, #E100FF);
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
}
.card_header_three{
  background: linear-gradient(to bottom left, #3f2b96, #a8c0ff);
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
}
.card_header_four{
  background: linear-gradient(to bottom left, #11998e, #38ef7d);
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
}

.card_btn_one{
  background: linear-gradient(to left, #f12711, #f5af19);
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.card_btn_two{
  background: linear-gradient(to left, #7F00FF, #E100FF);
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.card_btn_three{
  background: linear-gradient(to left, #3f2b96, #a8c0ff);
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.card_btn_four{
  background: linear-gradient(to left, #11998e, #38ef7d);
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}